{% extends "base.html" %} {% block title %}AI Act {% endblock %} 
{% block content %} 
<br>
<br>
<h2> About</h2>
<p> This website includes work regarding the EU AI Act. </p>

<h2>Publications</h2>
<p> 
    1. <a href="https://doi.org/10.3233/SSW220008">AIRO: An Ontology for Representing AI Risks Based on the Proposed EU AI Act and ISO Risk Management Standards </a>
    <br>
    2. <a href="https://dl.acm.org/doi/10.1145/3593013.3594050">To Be High-Risk, or Not To Be-Semantic Specifications and Implications of the AI Act's High-Risk AI Applications and Harmonised Standards </a>
    <br>
    3. <a href="https://link.springer.com/chapter/10.1007/978-3-031-26438-2_15">Comparison and Analysis of 3 Key AI Documents: EU’s Proposed AI Act, Assessment List for Trustworthy AI (ALTAI), and ISO/IEC 42001 AI Management System </a>

</p>

<h2> Ontologies </h2>
<p>
1. AIRO: AI Risk Ontology available at <a href="https://w3id.org/airo"> https://w3id.org/airo</a>
<br>
2. VAIR: Voabulary of AI Risks available at <a href="https://w3id.org/vair"> https://w3id.org/vair</a>
</p>

<h2> Projects</h2>
<p> 1. Is my AI System High-risk? 
    <br>
    a web application to determine high-risk AI systems based on Annex III of the EU AI Act.
</p>

<h2> Contact </h2>
<p> <b> Delaram Golpayegani</b>
<br>PhD student, School of Computer Science and Statistics, Trinity College Dublin, ADAPT centre
<br>
<a href="mailto:delaram.golpayegani@adaptcentre.ie">delaram.golpayegani@adaptcentre.ie</a></p>

<p> <b> Harshvardhan Pandit </b>
<br>
Assistant Professor, School of Computing at Dublin City University, ADAPT Centre 
<br>
<a href="mailto:harshvardhan.pandit@adaptcentre.ie">harshvardhan.pandit@adaptcentre.ie</a>
</p>
<p>
<b> Dave Lewis </b>
<br>
Interim Director, ADAPT Centre 
<br>
Associate Professor, School of Computer Science and Statistics
<br>
<a href="mailto:dave.lewis@adaptcentre.ie">dave.lewis@adaptcentre.ie</a>
</p>
 




{% endblock %}
